.footer {
  background-color: #f5f0ff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 25;
}
.footer__center {
  display: flex;
  font-size: 14px;
  padding: 20px;
}
