* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100vh;
}
body,
#root {
  width: 100%;
  height: 100%;
}
body {
  background-color: #f5f0ff;
}

a {
  text-decoration: none;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 36px;
  height: 36px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin: auto;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

input::-webkit-calendar-picker-indicator {
  display: none;
}
